.search {
    position: relative;
    &::before {
        position: absolute;
        left: 10px;
        top: calc(50% - 30px/2); 
        font-size: 30px;
    }
}
.searchIcon {
    width: 100%;
    padding: 19px;
    padding-left: 40px;
    outline: 0;
}