.wrapper {
  font-weight: 300;
  font-size: 24px;
}

.temperature {
  font-size: 4em;
  font-weight: 100;
  line-height: 1;
}

.degrees {
  font-size: 2em;
  vertical-align: top;
}

.decription {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 1.1em;
}

.date {
  margin-top: 10px;
  font-size: .7em;
}

.rainfall {
  display: flex;
  margin-top: 40px;
  font-size: .7em;
  margin-left: 20px;
  line-height: 1.2;
  &__elem {
    display: flex;
    flex-wrap: wrap;
    white-space: pre;
    &::before {
      margin-right: 10px;
    }
  }
}

.wind {
  padding-right: 20px;
  border-right: 2px solid white;
  &::before {
    content: url('../../assets/img/wind.svg');
  }
}

.humidity {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 2px solid white;
  &::before {
    content: url('../../assets/img/hum.svg');
  }
}

.rain {
  padding-left: 20px;
  &::before {
    content: url('../../assets/img/rain.svg');
  }
}